{
    "DestinationName": "hiwservice",
    "OfflineEnabled": true,
    "LanguageURLParam": "sap-language",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile"
}